<header>
  <h1><a href="/">Jobs-R-us</a></h1>

  <h4>Search for any information, for any job, anywhere in the U.S.</h4>
</header>
<section>
  <div id="search" class="container">
    <p>I want to view the <select id="type">
        <option value="1">States where THIS jobs is most common</option>
        <option value="2">Most common Job</option>
        <option value="3">Highest paying job</option>
        <option value="4">AVG wages (annual/hourly)</option>
        <option value="5">Everything about THIS job</option>
        <option value="6">Everything anout THIS state</option>
      </select> in
      <select id="location">
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DE">Delaware</option>
        <option value="DC">District Of Columbia</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="ID">Idaho</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="IA">Iowa</option>
        <option value="KS">Kansas</option>
        <option value="KY">Kentucky</option>
        <option value="LA">Louisiana</option>
        <option value="ME">Maine</option>
        <option value="MD">Maryland</option>
        <option value="MA">Massachusetts</option>
        <option value="MI">Michigan</option>
        <option value="MN">Minnesota</option>
        <option value="MS">Mississippi</option>
        <option value="MO">Missouri</option>
        <option value="MT">Montana</option>
        <option value="NE">Nebraska</option>
        <option value="NV">Nevada</option>
        <option value="NH">New Hampshire</option>
        <option value="NJ">New Jersey</option>
        <option value="NM">New Mexico</option>
        <option value="NY">New York</option>
        <option value="NC">North Carolina</option>
        <option value="ND">North Dakota</option>
        <option value="OH">Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="UT">Utah</option>
        <option value="VT">Vermont</option>
        <option value="VA">Virginia</option>
        <option value="WA">Washington</option>
        <option value="WV">West Virginia</option>
        <option value="WI">Wisconsin</option>
        <option value="WY">Wyoming</option>
      </select> for
      <select id="jobsList">
        {{#each jobs}}
        <option value="{{occ_code}}">{{occ_title}}</option>
        {{/each}}
      </select>
    </p>
    ​
  </div>
  <div>
    <button id="submit">View Statistics</button>
  </div>
  <div id="map">
    <script src="https://www.amcharts.com/lib/3/ammap.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/usaHigh.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js" type="text/javascript"></script>
    <div id="mapdiv" style="width: 1000px; height: 450px;"></div>
    <script type="text/javascript">
      var map = AmCharts.makeChart("mapdiv", {
        type: "map",
        theme: "light",
        panEventsEnabled: true,
        // backgroundColor : "#535364",
        backgroundAlpha: 1,
        zoomControl: {
          zoomControlEnabled: true
        },
        dataProvider: {
          map: "usaHigh",
          getAreasFromMap: true,
          areas:
            []
        },
        areasSettings: {
          // autoZoom : true,
          color: "#575784",
          colorSolid: "#575784",
          selectedColor: "#84ADE9",
          outlineColor: "#666666",
          rollOverColor: "#9EC2F7",
          rollOverOutlineColor: "#000000"
        }
      });
    </script>
  </div>
</section>
​
<footer>
  <div class="container">
    <h6 class="footer__title navbar-brand">Created By</h6>
    <p class="footer__info">
      <a class="footer__link" title="Portfolio" href="https://anees05.github.io/Responsive-Portfolio/">
        Anees Adams
      </a> |
      <a class="footer__link" href="https://www.linkedin.com/in/anees-adams-606043188/">
        LinkedIn
      </a> |
      <a class="footer__link" href="https://github.com/anees05">
        GitHub
      </a>
    </p>
    <p class="footer__info">
      <a class="footer__link" title="Portfolio" href="https://tonygnc1.github.io/Responsive-Portfolio/">
        Tony Goldsmith
      </a>
      |
      <a class="footer__link" href="">
        LinkedIn
      </a> |
      <a class="footer__link" href="https://github.com/tonygnc1">
        GitHub
      </a>
    </p>
    <p class="footer__info">
      <a class="footer__link" title="Portfolio" href="">
        Leland Capps
      </a>
      |
      <a class="footer__link" href="https://www.linkedin.com/in/leland-capps-935296188/">
        LinkedIn
      </a> |
      <a class="footer__link" href="https://github.com/Lcapps56">
        GitHub
      </a>
    </p>
    <p class="footer__info">
      <a class="footer__link" title="Portfolio" href="https://caleblmyers.github.io/index.html">
        Caleb Myers
      </a>
      |
      <a class="footer__link" href="https://www.linkedin.com/in/caleb-myers/">
        LinkedIn
      </a> |
      <a class="footer__link" href="https://github.com/caleblmyers">
        GitHub
      </a>
    </p>
  </div>
</footer>
​
<script src="/js/index.js"></script>