{{!-- <header>
  <a href="/">
    <h1>Jobs-R-us</h1>
  </a>
</header>
<section class="clearfix">
  <h1>Results</h1>
  {{#each results}}
  <div>{{occ_code}}</div>
  <div>{{occ_title}}</div>
  <hr>
  {{/each}}
</section>


<footer>
  <div class="container">
    <h6 class="footer__title navbar-brand">Created By</h6>
    <p class="footer__info">
      <a class="footer__link" title="Portfolio" href="https://anees05.github.io/Responsive-Portfolio/">
        Anees Adams
      </a> |
      <a class="footer__link" href="https://www.linkedin.com/in/anees-adams-606043188/">
        LinkedIn
      </a> |
      <a class="footer__link" href="https://github.com/anees05">
        GitHub
      </a>
    </p>
    <p class="footer__info">
      <a class="footer__link" title="Portfolio" href="https://tonygnc1.github.io/Responsive-Portfolio/">
        Tony Goldsmith
      </a>
      |
      <a class="footer__link" href="">
        LinkedIn
      </a> |
      <a class="footer__link" href="https://github.com/tonygnc1">
        GitHub
      </a>
    </p>
    <p class="footer__info">
      <a class="footer__link" title="Portfolio" href="https://lcapps56.github.io/">
        Leland Capps
      </a>
      |
      <a class="footer__link" href="https://www.linkedin.com/in/leland-capps-935296188/">
        LinkedIn
      </a> |
      <a class="footer__link" href="https://github.com/Lcapps56">
        GitHub
      </a>
    </p>
    <p class="footer__info">
      <a class="footer__link" title="Portfolio" href="https://caleblmyers.github.io/index.html">
        Caleb Myers
      </a>
      |
      <a class="footer__link" href="https://www.linkedin.com/in/caleb-myers/">
        LinkedIn
      </a> |
      <a class="footer__link" href="https://github.com/caleblmyers">
        GitHub
      </a>
    </p>
  </div>
</footer>
​
<script src="/js/results.js"></script> --}}
      <header>
        <a href="/">
          <h1>Jobs-R-us</h1>
        </a>
      </header>

<div class="container">
  <div class="row">;
    <div class="col-12">;

    </div>
  </div>
</div>

<div class="container">
<div class="row">

  <div class="col-4">
  </div>
  <div class="col-4" id="info">;
  </div>
  <div class="col-4">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
    </div>
    <div class="col-6">
    </div>
    <section>
      <h1>Results</h1>
      {{#each results}}
      <div>{{occ_code}}</div>
      <div>{{occ_title}}</div>
      <hr>
      {{/each}}
    </section>


  </div>
</div>
</div>
</div>


<div class="row">
  <div class="col-12">
    <footer>
      <div class="container">
                <h6 class="footer__title navbar-brand">Created By</h6>

        <div class="row">
                  <div class="col-6">

        <p class="footer__info">
          <a class="footer__link" title="Portfolio" href="https://anees05.github.io/Responsive-Portfolio/">
            Anees Adams
          </a> |
          <a class="footer__link" href="https://www.linkedin.com/in/anees-adams-606043188/">
            LinkedIn
          </a> |
          <a class="footer__link" href="https://github.com/anees05">
            GitHub
          </a>
        </p>
        <p class="footer__info">
          <a class="footer__link" title="Portfolio" href="https://tonygnc1.github.io/Responsive-Portfolio/">
            Tony Goldsmith
          </a>
          |
          <a class="footer__link" href="">
            LinkedIn
          </a> |
          <a class="footer__link" href="https://github.com/tonygnc1">
            GitHub
          </a>
        </p>
                </div>
        <div class="col-6">

        <p class="footer__info">
          <a class="footer__link" title="Portfolio" href="https://lcapps56.github.io/">
            Leland Capps
          </a>
          |
          <a class="footer__link" href="https://www.linkedin.com/in/leland-capps-935296188/">
            LinkedIn
          </a> |
          <a class="footer__link" href="https://github.com/Lcapps56">
            GitHub
          </a>
        </p>
        <p class="footer__info">
          <a class="footer__link" title="Portfolio" href="https://caleblmyers.github.io/index.html">
            Caleb Myers
          </a>
          |
          <a class="footer__link" href="https://www.linkedin.com/in/caleb-myers/">
            LinkedIn
          </a> |
          <a class="footer__link" href="https://github.com/caleblmyers">
            GitHub
          </a>
        </p>
                </div>

      </div>
    </footer>
    ​
  </div>
</div>
<script src="/js/results.js"></script>