body{
    margin: 0px;
    color: white;
  }
p {
    margin: 0px;
}
  header{
    height: 120px;
    width: 100%;
    background: #892b2b;
    position: fixed;
    top: 0px;
  }
  header h1, h4{
    color: white;
    text-align: center;
    padding-top: 5px;
    line-height: 5px;
    font-family: 'Noticia Text', serif;
    font-weight: bold;
  }

  /* search  */
#search{
    text-align: center;
    font-family: 'Arvo', serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
  }
  #submit{
    text-align: center;
    border-radius: 5%;
    margin-left: 45%;
    margin-top: 5px;
    background: none;
    border: solid 1px white;
    color: white;
    font-family: 'Arvo', serif;
    font-family: 'Quicksand', sans-serif;
  }

  footer{
    height: 50px;
    width: 100%;
    background: #892b2b;
    position: fixed;
    bottom: 0px;
    padding-top: 5px;
  }
  footer h6{
    color: white;
    text-align: center;
    padding-top: 10px;
    font-family: 'Noticia Text', serif;
    font-weight: bold;
  }

  #jobsList{
    width: 100px;
  }