.list-group-item {
  line-height: 2.5;
}
body{
  margin: 0px;
}
header{
  height: 110px;
  width: 100%;
  background: #892b2b;
  position: fixed;
  top: 0px;
  z-index: 1;
}
a {
  text-decoration: none;
  color: white;
}
header h1, h4{
  color: white;
  text-align: center;
  padding-top: 20px;
  line-height: 15px;
  font-family: 'Noticia Text', serif;
  font-weight: bold;
}
h4 {
  margin-top: 55px;
}

/* search  */
#search{
  text-align: center;
  padding-top: 100px;
  font-family: 'Arvo', serif;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
}
#submit{
  text-align: center;
  border-radius: 5%;
  margin-left: 45%;
  margin-top: 10px;
  background: none;
  border: solid 1px black;
  font-family: 'Arvo', serif;
  font-family: 'Quicksand', sans-serif;
}
/* graphics style */
#map{
  margin-left: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* footer style */
footer{
  height: 50px;
  width: 100%;
  background: #892b2b;
  position: fixed;
  bottom: 0px;
  padding-top: 5px;
  z-index: 1;
}
footer h6{
  color: white;
  text-align: center;
  padding-top: 10px;
  font-family: 'Noticia Text', serif;
  font-weight: bold;
}

@media only screen and (max-width: 800px){
  #map{
    margin-left: 0;
    width: 200px;
  }
}


#jobsList{
  width: 100px;
}